<launch>
		<node	pkg="face_detection"	name="face_detection"	type="face_detection" args="'/home/wade/catkin_ws/src/face_detection/model/seeta_fd_frontal_v1.0.bin'" respawn="true" output = "screen"/>
		<node	pkg="face_detection"	name="face_side"	type="face_side.py" output = "screen" respawn="true" />
		<!--node	pkg="frontalize"	name="face_frontalize"	type="face_frontalize.py" output = "screen" respawn="true"/>
		<node	pkg="FaceIdentify"	name="recognize"	type="recognize.bin" output = "screen" respawn="true"/-->
		
</launch>
